[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "==1.3.1"
alembic = "*"
asyncpg = "*"
celery = "*"
databases = "*"
environs = "*"
fastapi = "*"
fastapi-camelcase = "*"
fastapi-utils = "*"
httpx = "*"
Pillow = "*"
psycopg2-binary = "*"
PyJWT = "*"
pyotp = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-docker = "*"
python-dateutil = "*"
python-editor = "*"
python-socketio = "*"
redis = "*"
timeout-decorator = "*"
toml = "*"
uvicorn = "*"
websockets = "*"
motor = "==2.5.1"
mkdocs = "*"
fastapi-pagination = "*"
pymongo = "==3.12.0"
typing-extensions = "*"
pydantic = {extras = ["email"], version = "*"}
bcrypt = "*"
greenlet = "*"
sqlalchemy-utils = "*"
dt = "*"
fastapi-mail = "*"
fastapi-limiter = "*"
locust = "*"
asgi-lifespan = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-material = "*"
trio = "*"

[dev-packages]
flake8 = "*"
mixer = "*"
pre-commit = "*"
moto = "*"
coverage = "*"

[requires]
python_version = "3.10"
