<!DOCTYPE html>
<html>
<title>Reset Password</title>
<body>
<div style="width:100%;font-family: monospace;">
    <h1>Hello, {{ first_name }} {{ last_name }}</h1>
    <p>Someone has requested a link to reset your password. If you requested this, you can change your password through
        the button below.</p>
    <a href="http://127.0.0.1:8000/api/activate?token={{  token }}"
       style="box-sizing:border-box;border-color:#1f8feb;text-decoration:none;background-color:#1f8feb;border:solid 1px #1f8feb;border-radius:4px;color:#ffffff;font-size:16px;font-weight:bold;margin:0;padding:12px 24px;text-transform:capitalize;display:inline-block"
       target="_blank">Reset Your Password</a>
    <p>If you didn't request this, you can ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
</div>
</body>
</html>