<!DOCTYPE html>
<html>
<title>Temporary Password</title>
<body>
<div style="width:100%;font-family: monospace;">
    <h1>Hello, {{ email }}</h1>
    <p>Your temporary password is {{ temp_password }}.</p>

    Log in here
    <a href="http://127.0.0.1:8000/api/login"
       style="box-sizing:border-box;border-color:#1f8feb;text-decoration:none;background-color:#1f8feb;border:solid 1px #1f8feb;border-radius:4px;color:#ffffff;font-size:16px;font-weight:bold;margin:0;padding:12px 24px;text-transform:capitalize;display:inline-block"
       target="_blank">Log in</a>
</div>
</body>
</html>